@{
    ViewData["Title"] = "Página principal";
}

<div class="text-center">
    <h1 class="display-4">
        Introducción a ASP.NET MVC Core
    </h1>
    <p>
        Como material de referencia pueden ver este <a href="https://docs.microsoft.com/aspnet/core">link</a> a MSDN para tener mayores detalles.
    </p>
</div>
