
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ejemplo usando Vista sin layout</title>
</head>
<body>
    <div>
        esta vista no tiene un layout, con lo cual el html que tenga dentro es TODO el html que utiliza
    </div>
</body>
</html>
