@* así indicamos el modelo a utilizar. En este caso, Model va a tener un producto *@
@model Producto

@{
    ViewData["Title"] = Model.Descripcion;
}

<h1>En esta vista mostramos los detalles del producto</h1>

<div class="card">
    <div class="card-header">
        @Model.Descripcion
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <span class="text-primary font-weight-bolder">Id: </span> @Model.Id
            </li>
            <li class="list-group-item">
                <span class="text-primary font-weight-bolder">Orden: </span> @Model.Orden
            </li>
            <li class="list-group-item">
                <span class="text-primary font-weight-bolder">Precio: </span> $@Model.Precio.ToString("N2")
            </li>
        </ul>
    </div>
</div>
