@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Aplicación de ejemplo usando autenticación y autorización</h1>
    <p>En este proyecto utilizamos autenticación por cookies en una aplicación asp.net MVC.</p>
</div>
