@{
    ViewData["Title"] = "Página Principal";
}

<div class="text-center">
    <h1 class="display-4">Cta Cte</h1>
    <p>Este es un ejercicio de ejemplo para entender uso de modelado, validation attributes y entity framework creando una aplicación ASP.NET MVC Core</p>
</div>
