@model Cuenta

@{
    ViewData["Title"] = "Edición de cuenta";
}

<h4>Editar la cuenta</h4>

<hr />

<div class="row">
    <div class="col-md-6 offset-3">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Numero" class="control-label"></label>
                <input asp-for="Numero" class="form-control" />
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Balance" class="control-label"></label>
                <input asp-for="Balance" class="form-control" />
                <span asp-validation-for="Balance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SucursalId" class="control-label"></label>
                <select asp-for="SucursalId" class="form-control" asp-items="ViewBag.SucursalId"></select>
                <span asp-validation-for="SucursalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MonedaId" class="control-label"></label>
                <select asp-for="MonedaId" class="form-control" asp-items="ViewBag.MonedaId"></select>
                <span asp-validation-for="MonedaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Clientes</label>
                <select name="clienteIds" class="form-control" asp-items="ViewBag.Clientes" multiple></select>
            </div>
            <div class="form-group">
                <label class="control-label">Titular de cuenta</label>
                <select name="titularDeCuenta" class="form-control selectpicker" asp-items="ViewBag.Clientes"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-danger">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
